<aside id="fh5co-hero">
    <div class="hero-banner jumbotron jumbotron-fluid">
        
        <video autoplay muted loop>    
            <source src="" data-src="/images/Fire and pan.mp4" type="video/mp4">
            </video>
        <div class="container">
            <div class="col-md-12 text-center">
                <div class="desc">
                    <p>
                    “To better the lives and futures of our people. We use ridiculously delicious recipes to do it.”
                    “To capture the character of our community, boiling down its stocks, foraging its plants, and showcasing its produce; all in an attempt to capture a time and a space in the confines of a plate, but more often in a series of plates.”
                    </p>
                        <hr>
                    <p>Stay Safe. Stay Healthy. Stay Cooking.</p>
                    <h2><a href="/recipes" class="btn btn-primary btn-outline btn-lg">Recipe Blog</a></h2>
                </div>

            </div>
        </div>
    </div>
</aside>

<div id="fh5co-services" class="fh5co-bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 text-center">
                <a href="/recipes/category/Appetizer">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="flaticon-appetizer"></i>
                        </span>
                        <h3 class="btn btn-primary btn-outline">Appetizers</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <a href="/recipes/category/Entree">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="flaticon-fried-egg"></i>
                        </span>
                        <h3 class="btn btn-primary btn-outline">Entrée</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <a href="/recipes/category/Dessert">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="flaticon-boiled"></i>
                        </span>
                        <h3 class="btn btn-primary btn-outline">Desserts</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <a href="/recipes/category/Snack">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="flaticon-piece-of-cake"></i>
                        </span>
                        <h3 class="btn btn-primary btn-outline">Snacks</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-started">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Featured Recipes</h2>
            </div>
        </div>
        <div class="row">
        {{#each recipes as |recipe|}}
        {{> recipe-info recipe }}
        {{/each}}
        </div>
    </div>
</div>
